/* landing, nav, body styling */
html, body {
    height: 100%;
    width: 100%;
    background-color: #ffdde5cc;
}

.navbar {
    background-color: #000000;
    padding: 1% 0;
    font-size: 1.2em;
}

.navbar-brand {
    min-height: 55px;
    padding: 0 15px 5px;
}

.navbar-nav li a {
    color: #d5d5d5;
}

.navbar-nav li a:hover , .navbar-nav li a.active  {
    color: #ffdde5cc;
}

.padding {
    padding: 80px 80px;
    background-color: #ffdde5cc;
}

.padding img {
    width: 100%;
}

.lead {
    padding-top: 10px;
}

/* fixed image styling */
#fixed { 
    background: url(img/building.jpg) no-repeat center center fixed;
    display: table;
    height: 70%;
    width: 100%;
    position: relative;
    background-size: cover;
}


/* footer styling */
footer {
    width: 100%;
    background-color: #000000;
    padding: 5% 5% 10% 5%;
    color: #d5d5d5;
}

.text {
    text-align: center;
}

.fa { 
    padding: 15px;
    font-size: 25px;
    color: #ffffff;
    
}

.fa:hover {
    color: #ffdde5cc;
    text-decoration: none;
}

.icon {
    max-width: 200px;
}

@media (max-width: 768px) { 
    .landing-text h1 {
        font-size: 300%;
    }
    .fa {
        font-size: 20px;
        padding: 10px;
    }
    .icon {
        padding-top: 5%;
        max-width: 100px;
    }

    .padding {
        padding: 40px 80px 40px;
        background-color: #ffdde5cc;
    }

    .top {
        margin-top: 10%;
    }

    .bottom {
        margin-bottom: 10%;
    }

    .staff {
        margin-top: 10%;
        margin-bottom: 10%;
    }

    .gallery {
        margin-top: 10%;
    }
}

